body{
max-width:980px;
margin:0 auto;
padding:0;
font-family:inherit,sans-serif;
}

header{
width:100%;
margin:0 auto;
padding-top:10px;
padding-bottom:5px;
background-color:#3b5998;
color:white;
display:flex;
display-direction:row;
}
#logo{
width:50%;
flex:1;
margin:0 auto;
}
#logo h1{
width:50%;
padding:15px 0px 0px 0px;
margin:0;
margin-left:14%;
font-size:40px;
}
#login{
width:50%;
}
form{
display:flex;
display-direction:row;
padding:10px 10px 0px 10px;
justify-content:center;
}

.textlogin{
font-size:12px;
padding-bottom:5px;
}
#login input[type="submit"]{
width:55px;
height:24px;
padding:4px 5px 5px 5px;
margin:0;
font-size:12px;
margin-top:19px;
color:white;
background-color:#4267b2;
border:1px solid #29487d;
font-weight:bold;
font-family:inherit;
}
#emailcontainer{
width:30%;
padding-right:15px;
}
#emailcontainer input{
width:100%;
}
#passwordcontainer{
width:30%;
padding-right:15px;
}
#passwordcontainer input{
width:100%;
}
#passwordcontainer a{
text-decoration:none;
color:#9cb4d8;
}
#passwordcontainer a:hover{
text-decoration:underline;
}
#mid{
width:100%;
margin:0 auto;
display:flex;
flex-direction:row;
background:linear-gradient(to bottom, #FFFFFF, #D6E1F2)
}
#leftside{
flex:1;
width:55%;
padding-right:10px;
border-sizing:border-box;
}
#leftside h1{
width:80%;
font-size:18px;
padding: 25px 0px 0px 67px;
color:#0e385f;
}
#leftside img{
width:85%;
padding: 0px 0px 0px 67px;
}

#rightside{
width:40%;
margin:0 auto;
margin-right:45px;
}
#rightside h1{
width:100%;
font-size:35px;
padding: 20px 0px 0px 0px;
margin:0;
color:#1c1e21;
}
#rightside p{
padding:0;
margin:10px 0px;
font-size:18px;
}
#botform{
width:45%;
margin:0;
padding-left:0;
}
#firsttwo{
width:45%;
display:flex;
flex-direction:row;
flex:1;
}
#firsttwo input{
width:160px;
padding:7px 10px;
border-radius:5px;
border:1px solid #bdc7d8;
}
#firstn input{
margin-right:10px;
}
#surn input{
}
#lasttwo{
width:45%;
}
#lasttwo input{
width:200%;
padding:7px 10px;
border-radius:5px;
border:1px solid #bdc7d8;
}
#mobile{
padding-top:10px;
}
#newpass{
padding-top:10px;
}
::placeholder{
color:#B9B9B9;
font-size:16px;
}
input{
font-family:inherit;
}
#botmid p{
margin-top:15px;
margin-bottom:5px;
padding-bottom:0px;
font-size:18px;
}
#fullcontainer{
margin:0;
padding:0;
width:90%;
justify-content:center;
}
#selectcontainer{
display:flex;
flex-direction:row;
}
select{
width:100px;
height:30px;
margin:0;
padding:0px 10px;
}
#fullcontainer a{
text-decoration:none;
font-size:10px;
padding:5px;
color:#385898;
}
#fullcontainer a:hover{
text-decoration:underline;
}
#radiopart{
padding-top:5px;
}
#radiopart input[type="radio"]{
margin-top:10px;
margin-bottom:10px;
}
#radiopart {
font-size:24px;
}
#radiopart p{
width:85%;
font-size:12px;
color:#787878;
}
#radiopart a{
text-decoration:none;
color:#385898;
}
#radiopart a:hover{
text-decoration:underline;
}
#bottombutton{
width:80%;
}
#button input{
color:white;
font-size:20px;
background-color:#69a74e;
border-radius:5px;
border:1px solid;
border-color:#3b6e22 #3b6e22 #2c5115;
box-shadow:inset 0px 1px 1px #a4e388;
padding: 5px 20px;
margin-top:10px;
margin-bottom:10px;
}
#button input:hover{
background: linear-gradient(#79bc64, #578843);
}
#bottombutton a{
text-decoration:none;
color:#385898;
}
#bottombutton a:hover{
text-decoration:underline;
}
#bottombutton div{
font-size:14px;
color:#787878;
margin-bottom:35px;
}
#bottomsection{
display:flex;
width:100%;
margin:0 auto;
justify-content:center;
margin-top:10px;
font-size:12px;
}
.column{
flex-direction:column;
display:inline-block;
}
.row{
width:100%;
margin:0 auto;
}

.column a{
text-decoration:none;
color:#787878;
padding-right:10px;
font-size:12px;
}
.column a:hover{
text-decoration:underline;
}
.row ul{
flex-direction:row;
width:100px;
padding-left:0;
}
.column2 {
flex-direction:column;
display:inline-block;
width:50px;
}
.column2{
margin-right:35px;
}
ul:first-child{
margin-left:0px;
}
li{
display:block;
width:90px;
padding-top:10px;
}
#topa{
width:100%;
margin:0 auto;
}
#topa a{
margin-right:15px;
}
#topa a:first-child{
margin-right:15px;
}
.row{
margin-left:10px;
}